:root {
  --tan: rgb(163, 141, 123);
  --brown: rgb(135, 91, 3);
  --darkcream: rgb(250, 247, 237);
  --gray: rgb(199, 197, 197, 0.8);
  --darkgray: rgb(125, 124, 124);
  --yellow: rgb(218, 222, 164);
  --green: rgb(123, 173, 111);
  --darkgreen: #6f7f5d;
  --brownn: rgba(130,114,88,255);
  --extraBrown: rgba(130,114,88,255);
}

*{
  margin: 0;
  padding: 0;
  transition: 0.5s;
  box-sizing: border-box;
  font-family: 'Monospace', Lucida Console;
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
}

.sticky{
  position: sticky;
  top: 0;
}

/* Nav Stuff */
nav {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  /*  */
  height:90px;
  /*  */
  background: rgba(0,0,0,0.6);
  padding: 0 100px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgb(0,0,0);
}

nav .logo{
  float:left;
  line-height: 70px;
  height: auto;
  width: auto;
  max-height: 90px;
  max-width: 250px;
}

nav .logo:hover{
  transform:rotate(180deg);
}


nav .logo h2 {
  margin: 0;
  padding: 0;
  color: #fff;
}

nav ul{
  float: right;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  position: relative;
  display: block;
  height: 90px;
  line-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

nav ul li a:hover{
  background-color: white;
  color: rgb(135, 91, 3);
  box-shadow: 3px -1px 3px rgb(0,0,0);
}

nav ul li a:before{
  content:  '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #fff;
  z-index: -1;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform .5s;
}

nav ul li a:hover:before{
  transform-origin: top;
  transform: scaleY(1);
}

.logo:hover{
  transform:rotate(180deg);
  
}

/* HOMEPAGE */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 230px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 70px 60px rgb(0 0 0 / 30%);
  /* text-shadow: 1px 1px 5px black; */
  background-image: linear-gradient(45deg,rgba(111,127,93, 0.4),rgba(97, 87, 70, 0.4)), url(images/home-image.jpg);
}

#title {
  margin: 0px;
  font-size: 20em !important;
  color: rgba(237, 210, 185,0.9);
  font-style: italic;
}

.explore h1{
  text-align: center;
  font-size: 50pt;
  color: black;
  width: 100%;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

/* SECTIONS */

#section1 {
  background: rgba(130,114,88,255);
}

.intro-vid{
  width: 50vw;
  height: auto;
  margin: 6rem;
  padding-bottom: 50px;
}

.intro-text {
  color: white;
  line-height: 1.5em;
  font-size: 2em;
  padding: 4rem 4rem 0 4rem;
}

#section2{
  background-color: linear-gradient(var(--darkcream), var(--tan));
}

.home-columns {
  padding: 7rem;
  column-gap: 3em;
}

#com1, #com2 {
  color: var(--brown);
  flex: 1;
  line-height: 1.5em;
  font-size: 25px;
}


.text {
  padding-top: 3rem;
  font-size: 2em;
  color: var(--brown);
}

.home-info {
  margin: 0 3rem 0 3rem;
  color: var(--brown);
  background: white;
  border-radius: 10px;
  border: 1px solid var(--brown);
  padding: 1em;
}


.home-info:hover {
  translate: 0px -20px;
}

.home-info img{
  height: 20vh;
  width: 30vw;
  padding: 0 0 0 2rem;
}

.home-info h1 {
  color: var(--brown) !important;
  font-size: 3rem !important;
  text-transform: none !important;
}

.hoverE:hover {
  background-color: var(--tan) !important;
}
















/* ANALYSIS PAGE*/

h1 {
  text-align: center;
  color: #fff;
  font-family: "Roboto Thin", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.c-item {
  height: 800px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* Main Start of the body */

intro-info {
  color: white;
  padding: 20px;
  flex: 1;
  margin: 1px;
}

#intro-img img{
  border-radius: 10px;
}

#intro-img img:hover{
    -webkit-transform: scale(1.05);
     transform: scale(1.05);
}


#intro-info h1 {
  text-align: left
}

.container-home{
  padding: 5rem 5rem 0rem 5rem;
  border-radius: 10px;
}

.container-home:hover{
    letter-spacing: 1px;
}

#intro-info p{
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.container-home {
  display: flex;
  margin-left: 1%;
}

#intro-info {
  color: white;
  padding: 20px;
  flex: 1;
  margin: 1px;
}

#intro-info p{
  border-radius: 8px;
}

#intro-img {
  padding: 20px;
  flex: 1;
  border-radius: 8px;
}


.bg-image {
  background-image: url("images/image1.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-text{
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #FFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* CARD DESIGN */

/* .carousel-inner{
    padding: 1em;
} */

.groupCards {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2em;
}

.card-text{
  font-size: 14px;
}

.card{
  margin: 15px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  flex: 1;
  
}

.card{
  margin: 15px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  flex: 1;
  text-overflow: ellipsis;
}

.graph-box {
  margin: 2rem;
  color: var(--brown);
}

.graph {
  border-radius: 8px;
  border: 2px solid var(--extraBrown);
  margin: 14px 5px 0 0;
  height: 300px;
  flex: 2;
}

.card1{
  margin: 15px;
  padding: 30px;
  border: 2px solid var(--extraBrown);
  border-radius: 8px;
  flex: 1;
  height: 300px;
  width: 300px;
}

.mult-chart-info h1 {
  border-radius: 8px;
  color: var(--brown)
}

.mult-chart-info {
  width: 1140px;
  
}

#first {
  border: 2px solid var(--extraBrown);
  border-radius: 8px;
  flex:1;
}

.mult-chart {
  border: 2px solid var(--extraBrown);
  border-radius: 8px;
  flex:1;
  height: 300px;
}



/* Cards for Charts */
.card2{
    float: left;
    height: auto;
    border: none; 
    padding: 10px; 
    box-sizing: border-box; 
    margin: 15px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    flex: 2;
    border-radius: 8px;
    width: 480px;
}

.button{
  text-decoration: none;
  background-color: var(--brown);
  color: white;
  padding: 4px;
  width: 6px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover{
  translate: 0px -10px;
}



.card .img-wrapper {
  max-width: 100%;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .img-wrapper:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 4px 8px 8px white;
}

img{
  max-height: 100%;
}

.c-item {
  height: 100vh;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

i {
  background-image: none;
  font-size: 2rem;
  color: #FFF;
}

/* Flipcard Part Styling*/
.maincontainer{
  position: relative;
  width: 680px;
  height: 390px;
}

.thecard{
  position: absolute;
  width: 97%;
  height: 100%;
  transform-style: preserve-3d;
  transform: all 0.5s ease;
}

.thecard:hover{
  transform: rotateY(180deg);
}

    

.thefront{
  border-radius: 8px;
  position: absolute;
  width: 97%;
  height: 100%;
  backface-visibility: hidden;
  background: #000000;
  color: #333;
  background-image: url("images/image1.jpg");
}

.theback{
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #000000;
  transform: rotateY(180deg);
  background-image: url("images/image1.jpg");
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

    

.thefront{
  border-radius: 8px;
  position: absolute;
  width: 97%;
  height: 100%;
  backface-visibility: hidden;
  background: #000000;
  color: #333;
  background-image: url("images/image1.jpg");
}

.theback{
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #000000;
  transform: rotateY(180deg);
  background-image: url("images/image1.jpg");
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.highlight{
  font-style: italic;
  font-display: bold;
  color: #133ABE;
  text-overflow: ellipsis;
}




/* Info Page */
.section-filter{
  padding: 8rem 5rem 5rem 5rem;
  background-color: var(--brownn) !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 5px black;
  margin: 0 4rem 4rem 4rem;
}

#grid-text {
  padding: 3rem;
  color: var(--brown);
}

#grid-text p{
  font-size:1.5em;
}

#grid-text h3 {
  padding: 5px 0px 5px 0;
}

.radios {
  padding: 2rem 0 2rem 0;
  font-size: 1.5em;
}

.selector{
  padding: 0rem 0 2rem 0;
  font-size: 1.5em; 
}

.textBox {
  border-radius: 0px;
  font-size: 20px;
  color: var(--brown);
  width: 200px;
}

.info-pg {
  display: flex;
  margin: 0 3rem 0 3rem;
  color: var(--brown);
  width: 90vw;
  line-height: 1.5;
}

.info-pg .sticky {
  flex: 1;
  position: sticky;
  top: 0;
  background-color: var(--cream);
  height: 700px;
  padding: 6rem 0 6rem 0;
}

.info-pg .sticky .filters {
  font-size: 25px;
  margin-left: 4rem;
  
}

.info-pg .sticky h1 {
  font-size: 6rem;
}

.info-pg .sticky p {
  font-size: 3rem;
}

.info-pg .not-sticky {
  flex: 2;
  position: relative;
  padding-top: 4rem;
}

.info-pg .not-sticky h4 {
  font-size: 3rem;
}

.info-pg .not-sticky p {
  font-size: 1.5rem;
}

.info-pg .not-sticky .food-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* Header for Info Pg */
.header{
  background-color: rgb(209, 207, 203);
  padding: 22%;
  
}

    .left-align {
      text-align: left;
    }



/* HISTORY */
.container2{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  font-family: 'Poppins', middleton;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 76px;
  color: #3C280D;
  font-weight: 600;
  transition: 0.5s;
}

.centered:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

#center h1{
  color: white;
}
#center h1:hover{
  font-size: 46px;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}



/* HISTORY (MODAL)  */

.modal0{
  font-family: 30px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content0{
  border-radius: 8px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close0{
  background-color:red;
  border-radius:5px;
  box-shadow:1px 1px 1px black;
  text-shadow:1px 1px black;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding:0px 4px;
}

.close0:hover,
.close0:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* part2 */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  border-radius: 8px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close1 {
  background-color:red;
  border-radius:5px;
  box-shadow:1px 1px 1px black;
  text-shadow:1px 1px black;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding:0px 4px;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* part3 */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  border-radius: 8px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close2 {
  background-color:red;
  border-radius:5px;
  box-shadow:1px 1px 1px black;
  text-shadow:1px 1px black;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding:0px 4px;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Squirrel Card Content  */

.attractions-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.attractions-box {
  position: relative;
  margin: 2rem;
  width: 30vw;
  height: 40vh;
  background: #000;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.5);
}

.attractions-box .attractions-imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.attractions-box .attractions-imgs img {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s
}

.attractions-box:hover .attractions-imgs img {
  opacity: 0;
}

.attractions-box .attractions-content {
  position: absolute;
  bottom: 20px;
  color: var(--brown);
  left: 10%;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  background: white;
  transition: 0.5s;
  overflow: hidden;
  padding: 0.5rem;
  line-height: 1.5;
}

.attractions-box .attractions-content h4{
  font-size: 1.5rem;
}

.attractions-box:hover .attractions-content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
} 


.background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.column {
  flex-direction: column;
}

.container-geo {
  margin: 1rem 0;
  display: flex;
  text-shadow: 3px 3px 2px gray;
  color: rgb(255,255,255);
  font-size: 2rem;
  line-height: 1.5;
  width: 80ch;
  height: 50vh;
  background-image: url(geography/geography.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50px 100px;
}

#intro-info h1:hover{
  font-size: 35pt;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

/* Graph Div Decorate*/
#sections2{
  background-color: #ad9a87;
  border-radius: 15px;
  margin: 30px;
  box-shadow: 5px 9px 10px rgb(0,0,0);
}

#sections2 h1{
  color: #4f443a;
}

#sections2 h1:hover{
  -webkit-text-stroke: 2px #4f443a;
  color: transparent;
  font-size: 45px;
}

.card2{
  background-color: white;
}

/* Collapsible */

/* collapsible button */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-shadow: 5px 9px 10px rgb(0,0,0);
}

/* Add a background color to the button*/
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content.*/
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* FOOTER */
footer{
  position: absolute;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans", Arial, sans-serif;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* SOCIAL MEDIA ICON */
.social-icon{
  margin-top: 6px;
  margin-bottom: 15px;
}
.social-icon i{
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
  color:	rgb(255,255,255)
}

.social-icon i:hover{
  transform:rotate(45deg);
  color: aqua;
  
}

/* Extra */
.footer-content h3:hover{
  font-size: 35px;
}

